.home-container .tab-container{padding-left:6px;padding-top:2px;border-bottom:1px solid #c2c8be}.home-container .tab-container .active{background-color:#c2c8be !important;color:white;border-top-right-radius:2px;border-top-left-radius:2px}.home-container .tab-container .tab{padding-right:12px;cursor:pointer}

